/**********
** FONTS
*********/
/*
@font-face {
  font-family: "Roboto Regular";
  src: url("/resources/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("/resources/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Italic";
  src: url("/resources/fonts/Roboto-Italic.ttf");
}
*/
/**********
** HEADER
**********/
/*********
** CONTENT WRAPPER
**********/
/*********
** DIVISIONS
**********/
#app-divisions {
  width: 400px;
  height: 100%;
}
#app-divisions ._md {
  background: white;
}
/*********
** CONTACTS
**********/
#app-contacts #search-bar {
  margin-bottom: 30px;
  padding: 20px;
  background: white;
}
#app-contacts .division-title .md-display-1 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 18px;
  color: #9E9E9E;
}
#app-contacts .division-title .md-divider {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
#app-contacts .contact-container {
  min-height: 350px;
}
#app-contacts .contact {
  background: white;
}
#app-contacts .contact .contact-photo {
  min-height: 200px;
  background: lightgrey;
}
#app-contacts .contact .contact-info h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}
#app-contacts .contact .contact-info .position {
  color: #1565C0;
}
#app-contacts .contact .contact-info .phone {
  margin-bottom: 6px;
}
#app-contacts .contact .contact-info .phone .phone-icon {
  color: #81C784;
}
#app-contacts .contact .contact-info .mobile {
  margin-bottom: 6px;
}
#app-contacts .contact .contact-info .mobile .mobile-icon {
  color: #4FC3F7;
}
#app-contacts .contact .contact-info .email {
  color: #2196F3;
}
#app-contacts .contact .contact-info .email .email-icon {
  color: #9575CD;
}
